@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.text-color-primary {
  color: #027dd6;
}

.bg-color-primary {
  background: #027dd6;
}

.bg-color-secondary {
  background: #f8f8f8;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-evenly {
  @apply flex justify-evenly items-center;
}

.flex-end {
  @apply flex justify-end items-center;
}

.bg-form-body {
  @apply bg-top bg-fixed bg-no-repeat bg-beams fixed top-0 left-0 w-full h-full z-[-999999];
}

.col-flex {
  @apply flex flex-col;
}

.formOverly {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0b206e8f;
}

.heroBg {
  width: 100%;
  height: -webkit-fill-available;
  background: #eff6fc4f;
  backdrop-filter: blur(1px);
  z-index: -99;
}

.bg-of-hero {
  background-image: url("/images/legal-trademark-office-hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.heroBgAfter {
  background-image: url("/images/mark-symbol.png");
}

.tpStar {
  background-color: #06b87a !important;
  width: 22px;
  height: 22px;
  background: url("/images/trustpilot-start.png") no-repeat 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}

.bg-shield {
  background-image: url("/images/shield.png");
  width: auto;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

.animate-left-to-r {
  animation: slide-in-right 1.5s linear infinite;
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}

.animate-down-to-r {
  animation: slide-in-down 1.5s linear infinite;
}

@keyframes expand-in-out {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-expand {
  animation: expand-in-out 1s ease-in-out infinite;
}

.benefit-card {
  border-radius: 5px 70px 5px 5px;
}

.footer-overly {
  position: absolute;
  width: 100%;
  height: 100%;
}

.search-input input {
  padding: 60px 30px;
}

.package-tab {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.package-tab button {
  font-size: 16px;
  width: 300px;
  padding: 28px;
  font-weight: 500;
}

.footer-bg {
  background: linear-gradient(102.39deg, #2ba0f4 0%, #003d68 100%);
}

.shadow-inner-md {
  box-shadow: inset 0px 0px 13px 4px #1d1b1b29;
}
